  <button mat-raised-button color="primary" class="w-100">
    Add Links
  </button>
<ag-grid-angular
#Grid
style="width: 100%; height: 65vh; overflow: auto;"
class="ag-theme-quartz"
rowSelection="multiple"
(selectionChanged)="onSelectionChanged($event)"
(gridReady)="onGridReady($event)"
[rowData]="fileLinks | async"
(cellClicked)="onCellClicked($event)"
[columnDefs]="colDefs">
</ag-grid-angular>
<div>
  <button mat-icon-button [disabled]="!downloadEnabled" (click)="downloadSelected()">
    <mat-icon>download</mat-icon>
  </button>
</div>
