  <button mat-raised-button color="primary" class="w-100" (click)="openDialog()">
    Add Links
  </button>
<ag-grid-angular
#Grid
style="width: 100%; height: 65vh; overflow: auto;"
class="ag-theme-quartz"
rowSelection="multiple"
(selectionChanged)="onSelectionChanged($event)"
(gridReady)="onGridReady($event)"
[rowData]="fileLinks | async"
(cellClicked)="onCellClicked($event)"
[columnDefs]="colDefs">
</ag-grid-angular>
<div class="float-right">
  <button title="Download Selected" mat-icon-button [disabled]="!fileSelected" (click)="downloadSelected()">
    <mat-icon>download</mat-icon>
  </button>
  <button title="Delete Selected" mat-icon-button [disabled]="!fileSelected" (click)="deleteSelected()">
    <mat-icon>delete</mat-icon>
  </button>
  <button title="Clear Completed" mat-icon-button (click)="clearCompleted()">
    <mat-icon>clear</mat-icon>
  </button>
</div>
