<mat-form-field class="w-100">
  <mat-label>Collect links from:</mat-label>
  <mat-select (valueChange)="sourceChange($event)" name="fromSource">
    @for (opt of options; track opt) {
      <mat-option [value]="opt.value">{{opt.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>
<ag-grid-angular
style="width: 100%; height: 90vh; overflow: auto;"
class="ag-theme-quartz"
rowSelection="multiple"
[rowData]="fileLinks | async"
(cellClicked)="onCellClicked($event)"
[columnDefs]="colDefs">
</ag-grid-angular>
